<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to login page</h1>

    {#<h1>{{db1}}</h1>#}
    {#<h1>{{res1}}</h1>#}
    {%if email1 == res1.0.2%}
        {%if password == res1.0.3%}
            {#<h1><a href="{%url 'base'%}">base</a></h1>#}
            {%include 'base.html'%}
        {%else%}
            <h1>password is incorrect</h1>
        {%endif%}
    {%else%}
        <h1>email id is incorrect</h1>
    {%endif%}
</body>
</html>