<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>welcome to login page</h1>
    <h1>{{db}}</h1>
    {%if res%}
        {%if res.0.2 == email%}

            {%if res.0.3 == pass %}
                 <h1> {{res.0.2}}</h1>
                 <h1>{{res}}</h1>
            {%else%}
                <h2>password is incorrect</h2>
            {%endif%}
        {%else%}
            <h2>email is incorrect</h2>
        {%endif%} 
    {%else%}
        <h1>login details is incorrect</h1>
    {%endif%}
</body>
</html>