{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <h1>pyspider</h1>
      <p>PySpiders is the world’s ace Python development training organization with an aim to bridge the gap between the demands of the industry and the curriculum of educational institutions.
    
        With centers across the Globe, thuiousdhjgsjcv 
        the institute is a platform where young minds are given the opportunity to build successful careers.
        
        ”PySpiders is a place where businesses find talent and dreams take flight."</p>
        <img src="{%static 'imgs/logo1.jpg'%}" alt="image" height="50px" width="100px">
      </article>
</body>
</html>