{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color: rgb(201, 76, 76);
            padding: 20px;
            text-align: center;
            font-size: 25px;
            color: white;
          }
    </style>
</head>
<body>
    <header>
        <h2>pyspider</h2>
        <img src="{%static 'imgs/logo1.jpg'%}" alt="image" height="50px" width="100px">
      </header>
</body>
</html>

